{
    "root": true,
    "env": {
        "node": true
    },
    "rules": {
        "camelcase": 2,
        "consistent-return": 2,
        "dot-notation": 2,
        "new-cap": 2,
        "no-underscore-dangle": 2,
        "no-use-before-define": 2,
        "quotes": [2, "single", "avoid-escape"],
        "semi": [2, "always"]
    }
}
